

{% extends "base.html" %}
{% block content %}
    <h3 class="black-text text-darken-4 center-align">Completed Tasks</h3>  
    {% if user.isAdmin == True %}
    <!-- Search Menu -->
    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row align-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix black-text"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Tasks</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('completedtasks') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="green btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    {% endif %} 
    {% if user.isAdmin == True %}
        {% for task in tasks %} 
            <ul class = "collapsible" data-collapsible = "accordion">
            <li>
            <div class = "collapsible-header dropdown">
            <i class="fas fa-caret-down"></i> 
                <div class="container">
                    <div>
                    <b>Tasktype:</b><div class="dropdown-menu">{{ task.tasktype }}</div>
                    </div>
                    <div>
                    <b>Username:</b><div class="dropdown-menu">{{ task.username }}</div>
                    </div>
                    <div>
                    <b>Site:</b><div class="dropdown-menu"> {{ task.site }} </div>
                    </div>
                    <div>
                    <b>Due Date:</b> <div class="dropdown-menu">{{ task.due_date }}  </div>
                    </div> 
                </div>
            </div>
            <div class = "collapsible-body dropdown">
            <div class="col l12>">
            <b>Task Description:</b> <div class="dropdown-menu">{{ task.task_description }}  </div>
            </div>
            <div class="col l12>">
            <b>Completion Notes:</b> <div class="dropdown-menu">{{ task.completion_notes }}  </div>
            </div>
            
            </div>
        
            </li>
            </ul>
        {% endfor %}    
    {% else %}
        {% for tasksuser in tasksuser if tasksuser.is_complete == True %}   
         <ul class = "collapsible" data-collapsible = "accordion">
        <li>
        <div class = "collapsible-header dropdown">
        <i class="fas fa-caret-down"></i> 
            <div class="container">
                <div>
                <b>Tasktype:</b><div class="dropdown-menu">{{ tasksuser.tasktype }}</div>
                </div>
                <div>
                <b>Username:</b><div class="dropdown-menu">{{ tasksuser.username }}</div>
                </div>
                <div>
                <b>Site:</b><div class="dropdown-menu"> {{ tasksuser.site }} </div>
                </div>
                <div>
                <b>Due Date:</b> <div class="dropdown-menu">{{ tasksuser.due_date }}  </div>
                </div> 
            </div>
        </div>
        <div class = "collapsible-body dropdown">
        <div class="col l12>">
        <b>Task Description:</b> <div class="dropdown-menu">{{ tasksuser.task_description }}  </div>
        </div>
        <div class="col l12>">
        <b>Completion Notes:</b> <div class="dropdown-menu">{{ tasksuser.completion_notes }}  </div>
        </div>
        
        </div>
    
        </li>
        </ul>
        {% endfor %} 
    {% endif %} 
{% endblock %}