{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align">Completed Tasks </h3>  

{% for task in tasks%}
<ul class = "collapsible popout" data-collapsible = "accordion">
    <li>
       <div class = "collapsible-header dropdown">
            <i class="fas fa-caret-down"></i> 
                <div class="container">
                    <div>
                    <b>Tasktype:</b><div class="dropdown-menu">{{ task.tasktype }}</div>
                    </div>
                    <div>
                    <b>Username:</b><div class="dropdown-menu"> {{ task.username }} </div>
                    </div>
                    <div>
                    <b>Site:</b><div class="dropdown-menu"> {{ task.site }} </div>
                    </div>
                    <div>
                    <b>Due Date:</b> <div class="dropdown-menu">{{ task.due_date }}  </div>
                    </div>
                </div>
       </div>
       <div class = "collapsible-body dropdown">
            <div class="col l12>">
            <b>Task Description:</b> <div class="dropdown-menu">{{ task.task_description }}  </div>
            </div>
            <div class="col l12>">
            <b>Completion Notes:</b> <div class="dropdown-menu">{{ task.completion_notes }}  </div>
            </div>
       </div>
    </li>
</ul>
{% endfor %}


{% endblock %}
